@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.top-bar{
    padding: 2em;
    background-color:#B9B4C7 ;
    height: 150px;
}

.top-bar > h1{
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Black Ops One' , cursive;

}
.add-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

}
.add-book > button {
    border-radius: 15px;
    display: flex;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight:bold;
    background-color: #352f44e0;
    color: white;
    border-style: none;
    cursor: pointer;
    margin-bottom: 3em;
}

.book-cards{
    padding: 2em;
    padding-left: 6em;
    padding-right: 6em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5em;
    column-gap: 2em;
}

.card{
    padding: 25px;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px #5C5470;
    background-color: #FAF0E6;
    display: grid;
    row-gap: 7px;
}
.card > h3 {
    font-family: 'Roboto Mono', monospace;  
    text-align: center;
    font-size: 30px;
    opacity: 50%;
    cursor: default;
}
.card > h4 {
    font-family: 'Roboto Mono', monospace;  
    text-align: center;
    font-size: 10px;
    opacity: 90%;
    cursor: default;
}
.card > button {
    border-style: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: #352f44e0;
    color: white;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto 0 auto;
    cursor: pointer;
}

.footer{
    margin-top: auto;
    height: 50px;
    padding: 10px;
    background-color: #352F44;
}

.footer > h3{
    text-align: center;
    color: white;
}






#add-book-form > label{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;

}


